.image {
    width: 100%;
    height: 360rpx;
}

.main-body-info {
    display: flex;
    box-sizing: border-box;
    padding: 30rpx;
    border-top: 1rpx solid #D9D9D9;
    border-bottom: 1rpx solid #D9D9D9;
    align-items: center;
    justify-content: center;
}

.result-text {
    color: blueviolet;
    word-break: break-all;
}

.item-text {
    word-break: break-all;
    background-color: darkgray;
    margin-bottom: 1px
}